<ion-view view-title="Notas Fiscais">

  <ion-content>
    <!-- TODO group card by month -->
    <div>
      <div class="card" ng-repeat="nfe in nfes" ui-sref="app.nfe-detail({nfeId: nfe.id})">
        <div class="item item-text-wrap item-icon-right">
          <!-- TODO colocar #ID -->
          <h2 class="origin">{{$index+1}} - {{nfe.source}}</h2>
          <div class="row" style="padding:0px">
            <div class="col" style="padding:0px">
              <p class="date">{{nfe.data.info.emissionDate | date : 'dd/MM/yyyy'}}</p>
            </div>
            <div class="col" style="padding:0px;text-align:right">
              <p class="price">{{nfe.data.info.total | currency}}</p>
            </div>
          </div>

          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div class="row" style="padding:0px">
      <div class="col col-25" style="padding:0px">
        <p><b>Notas:</b><br>{{ total()['count'] }}</p>
      </div>
      <div class="col col-33" style="padding:0px">
        <p>
          <b>Imposto:</b><br>{{ total()['tax']|currency }}
          ({{(total()['tax']/total()['total']*100) | number:0 }}%)
        </p>
      </div>
      <div class="col col-33" style="padding:0px">
        <p><b>Total:</b><br>{{ total()['total'] | currency}}</p>
      </div>
    </div>
    <a href="#/app/nfes" ng-click="scan()" style="position: fixed; right: 30px; bottom: 50px;"><img src="img/code.svg" alt="" id="barCode"></a>
  </ion-footer-bar>
</ion-view>
